body {
  background: #F0E9E5;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
}

input {
  border-radius: 5px;
  padding: 8px;
}

.login-layout,
.register-layout,
.profile-layout {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  background-color: #F0E9E5;
}

.primary-button {
  background-color: #5108B0;
  /*F76900*/
  padding: 10px;
  font-size: 0.9rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #F0E9E5;
}

.primary-button:hover {
  background: #4458be;
}

.register-box :nth-child(n),
.profile-box :nth-child(n) {
  margin: 10px;
}

#pw-warn,
#aviso {
  color: red;
  font-size: 0.8em;
  margin: 0;
}

.login-box,
.register-box,
.profile-box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

.login-box :nth-child(n) {
  margin: 10px;
}

.btn-google {
  color: #fff;
  border-radius: 5px;
  background-color: #4686fd;
  padding: 10px;
  padding-left: 40px;
  background-image: url(images/iconfinder_2_939729.png);
  background-position: 1% 50%;
  background-repeat: no-repeat;
}

img.img-btn-google {
  margin: 0;
  margin-right: 20px;
}


.btn-google:hover {
  background-color: #074cce;
}

#image {
  width: 100%;
}

#greetings {
  text-align: center;
}

.new-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  width: 80%;
}

#post-area {
  width: 80%;
}

.avatar {
  width: 40px;
}

.comments-box {
  border: 3px solid #FBF5EF;
  border-radius: 5px;
  font-size: 15px;
  margin: 20px -5px;
  padding: 10px;
}

.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#greetings {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 20px 10px;
}

.user-name {
  font-weight: bold;
  margin: 0px;
}

.user-name-comment {
  font-weight: bold;
}

.txt-area {
  margin: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  width: 80%;
}

.txt-btn {
  display: flex;
  justify-content: space-between;
  width: 65%;
}

.my-file {
  display: none;
}

.posts {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 10px;
  margin: 10px;
  width: 100%;

}

.time-area {
  color: #6E6E6E;
  font-size: 11px;
  margin: 0;
  margin-bottom: 15px;
}

.menu ul {
  display: none;
}

.posts li {
  padding: 20px 0;
  margin: 10px 0;
  list-style: none;
  border: solid 3px #FBF5EF;
  border-radius: 8px;
  overflow: auto;
  background: #F0E9E5;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 80px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -40px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.btn-icons {
  justify-content: space-between;
  display: flex;
  margin: 0;
  padding: 0;
}

.btn-icons button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  padding: 20px;
}

.btn-like {
  background: rgb(199, 165, 255);
  background-image: url(./images/like.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-like:hover {
  background-color: #FBF5EF;
}

.btn-comment {
  background: rgb(123, 207, 255);
  background-image: url(./images/conversation.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-comment:hover {
  background-color: #FBF5EF;
}

.btn-save {
  background: rgb(176, 255, 123);
  background-image: url(./images/save.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-save:hover {
  background-color: #FBF5EF;
}

.btn-edit {
  background: rgb(255, 235, 123);
  background-image: url(./images/edit.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-edit:hover {
  background: #FBF5EF;
  background-image: url(./images/edit.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-delete {
  background: rgb(255, 127, 123);
  background-image: url(./images/delete.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-delete:hover {
  background-color: #FBF5EF;
}

.icon-earth,
.icon-padlock {
  width: 12px;
}

.hidden {
  display: none;
}

.edit-txt {
  margin-top: 5px;
  margin-left: 5px;
  cursor: text;
  border: 1px solid #aaa;
  background: white;
  padding: 5px;
}

@media (min-width: 540px) {
  .login-layout {
    flex-direction: row;
    align-items: center
  }

  .container {
    width: 40%;
  }

  .home-container {
    flex-direction: row;
    width: 80%;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
  }

  #image {
    width: 60%;
  }

  .menu ul {
    background-color: #5108B0;
    list-style: none;
    /*width: 100%;*/
    display: flex;
    justify-content: space-around;
    margin: 0;
  }

  .menu ul li {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    font-size: 1.3em;
  }

  .menu a {
    text-decoration: none;
  }

  .btn-exit {
    border: none;
    background: #5108B0;
    color: #EDEDED;
    font-size: 1em;
  }

  .btn-exit:hover {
    border-bottom: 1px solid #EDEDED;
  }

  .menu ul li a {
    display: inline-block;
    background-color: #5108B0;
    color: #EDEDED;
  }

  .menu ul li a:hover {
    border-bottom: 1px solid #EDEDED;
    /*color: #EDEDED;
    border-bottom: 3px solid #EDEDED;*/
  }

  .txt-area {
    width: 60%;
  }

  #post-area {
    width: 60%;
  }

  .avatar {
    width: 70px;
  }

  .posts li {
    justify-content: space-evenly;
  }

}